CompileFlags:
  Add: [-Wall, -Werror, -pedantic-errors, -Wextra, -std=c++23]

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: [modernize*, cppcoreguidelines*]
    Remove: [modernize-use-trailing-return-type]
